@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  font-family: 'Noto Sans JP', 'MyYuGothicM', 'YuGothic', '-apple-system', 'system-ui', 'Hiragino kaku Gothic ProN', 'Meiryo', 'Verdana', 'arial', 'helvetica', 'sans-serif', 'FontAwesome', 'M+ 1';
  font-size: 1.4rem;
  min-width: 375px;
  max-width: 1330px;
  background-color: #FFFDFA;
}

a {
  text-decoration: none;
}

li, dl, dt, dd {
  list-style: none;
}

hr {
  width: 10%;
  margin: 3rem 0;
}

.l-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1000px) {
  .l-container {
    overflow: hidden;
  }
}

.l-footer {
  height: 15rem;
  padding: 1rem 0;
  background-color: #9D8670;
  color: white;
  text-align: center;
}

.l-footer ul li {
  display: inline;
  font-size: 1.8rem;
  line-height: 8rem;
}

.l-footer ul li a {
  color: white;
}

.l-footer__copyright {
  margin-top: 3rem;
}

.l-header {
  background-color: #FFF7EF;
  width: 87vw;
  height: 15vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1000px) {
  .l-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.l-header__sitename {
  color: #707070;
  margin-left: 3vw;
  padding-top: 4vw;
  font-size: 5rem;
  font-family: 'Roboto', sans-serif;
}

.l-header__searchform {
  margin: -3vw 10vw 0 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1000px) {
  .l-header__searchform {
    margin: 3vw 0;
  }
}

.l-header__searchform__keyword {
  width: 30vw;
  height: 2.3vw;
  background-color: #fff;
  border: 1px solid #707070;
  border-radius: 0.5rem;
  margin-right: 1vw;
}

.l-header__searchform__button {
  width: 6vw;
  height: 2.3vw;
  background-color: #F2EDE9;
  border: 1px solid #707070;
  border-radius: 0.5rem;
  color: #707070;
}

.l-sidebar {
  position: fixed;
  left: 80vw;
  z-index: 10;
  width: 100vw;
  height: 100vw;
  background-color: #F2EDE9;
  padding-left: 3vw;
  font-family: M1m;
}

@media (max-width: 1000px) {
  .l-sidebar {
    position: static;
    width: 40vw;
    padding-bottom: 10000vw;
    margin-bottom: -10000vw;
  }
  .l-sidebar.is-open {
    left: 10vw;
    overflow-y: scroll;
    /* 高さを指定しているので中身が超えた分はスクロールできるように */
  }
  .l-sidebar-button--close {
    display: block;
    margin: 0 0 0 auto;
    margin-right: 10vw;
  }
}

@media (max-width: 1000px) and (max-width: 1000px) {
  .l-sidebar-button--close {
    display: none;
  }
}

@media (max-width: 1000px) {
  .l-sidebar__title {
    margin-top: 3vw;
    font-size: 1.7rem;
  }
}

@media (max-width: 1000px) and (max-width: 1000px) {
  .l-sidebar__title {
    display: block;
    margin: 1vw 0;
    padding-bottom: 3vw;
    font-size: 2rem;
  }
}

@media (max-width: 1000px) {
  .l-sidebar li {
    padding-top: 2vw;
    font-size: 1.5rem;
  }
  .l-sidebar a {
    padding-left: 2vw;
    text-decoration: none;
    color: #707070;
  }
}

.p-button {
  display: block;
  margin: 0 0 0 auto;
  margin-right: 5%;
}

@media (max-width: 1000px) {
  .p-button {
    display: none;
  }
}

.p-topimage01 {
  position: relative;
  width: 87%;
}

@media (max-width: 1000px) {
  .p-topimage01 {
    width: 100vw;
  }
}

.p-topimage01 img {
  width: 100%;
}

.p-topimage01__text {
  position: absolute;
  top: 45%;
  left: 11%;
  font-size: 4rem;
  color: #ffff;
  font-weight: normal;
}

@media (max-width: 1000px) {
  .p-topimage01__text {
    font-size: 3rem;
  }
}

@media (max-width: 641px) {
  .p-topimage01__text {
    font-size: 2rem;
  }
}

.p-sectionmenu {
  width: 86vw;
}

@media (max-width: 1000px) {
  .p-sectionmenu {
    width: auto;
  }
}

.p-sectionmenu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 641px) {
  .p-sectionmenu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.p-sectionmenu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.p-sectionmenu__list img {
  width: 36vw;
  height: 50vw;
  padding: 2vw 0;
  margin: 0 4vw 0 -2vw;
}

@media (max-width: 1000px) {
  .p-sectionmenu__list img {
    padding: auto;
    margin: auto 5vw;
  }
}

.p-sectionmenu__list h2 {
  position: absolute;
  top: 2vw;
  left: 0vw;
  font-size: 5rem;
  color: #fff;
}

@media (max-width: 641px) {
  .p-sectionmenu__list h2 {
    font-size: 3rem;
  }
}

.p-sectionmenu__list__contents01 {
  position: absolute;
  top: 36.5vw;
  left: 0vw;
  width: 32vw;
  height: 10vw;
  background-color: rgba(255, 255, 255, 0.5);
}

.p-sectionmenu__list__contents02 {
  position: absolute;
  top: 25vw;
  left: 0vw;
  width: 32vw;
  height: 10vw;
  background-color: rgba(255, 255, 255, 0.5);
}

.p-sectionmenu__list dt {
  font-size: 1.8rem;
  margin: 1rem 0 0 2rem;
  padding-bottom: 1rem;
}

.p-sectionmenu__list dd {
  font-size: 1.2rem;
  margin: 0 0 0 2rem;
  width: 35rem;
}

.p-map {
  position: relative;
}

.p-map img {
  width: 101%;
  height: 45rem;
  background-color: rgba(0, 0, 0, 0.8);
}

.p-map__contents {
  position: absolute;
  top: 0;
  left: 0;
  width: 62%;
  height: 45rem;
  padding: 5rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
}

.p-map__contents__text {
  font-size: 3rem;
}

.p-sidebarmenu {
  margin-top: 5rem;
}

.p-sidebarmenu__list {
  color: #707070;
}

.p-archivetopimage {
  position: relative;
  width: 100%;
}

.p-archivetopimage img {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  height: 20rem;
}

.p-archivetopimage__text {
  position: absolute;
  top: 30%;
  left: 5%;
  color: #fff;
  font-size: 4rem;
}

.p-archivetopimage__text span {
  display: block;
  font-size: 1.5rem;
  font-weight: 100;
  padding-left: 15rem;
  margin-top: -3.5rem;
}

.p-archivemain {
  display: block;
  color: #3C2A10;
  width: 100%;
  height: 15rem;
  padding: 0 7rem 2rem;
}

.p-archivemain h2 {
  padding: 0 0 0.5rem;
  font-size: 2rem;
  font-weight: normal;
}

.p-archivemain p {
  font-size: 1.2rem;
  line-height: 2rem;
}

.p-pagenation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 45%;
  margin: 5rem auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-pagenation__button {
  height: 3rem;
  width: 3rem;
  border: 1px solid #707070;
  background-color: #ffff;
  margin: 0 0.5rem;
  color: #707070;
}

@media (max-width: 641px) {
  .c-menucard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    margin-bottom: 2rem;
    width: 90%;
    height: 35rem;
  }
}

.c-menucard__img {
  display: block;
  width: 50%;
}

.c-menucard__contents {
  background-color: #3C2B1C;
  color: #fff;
  padding: 3rem 4rem;
  width: 50%;
}

.c-menucard__contents dt {
  font-size: 2.5rem;
  margin: 2rem 0;
  font-weight: normal;
}

.c-menucard__contents dd {
  padding-top: 2rem;
}

.c-menucard__contents dd h3 {
  font-weight: normal;
  padding-bottom: 1.5rem;
}

.c-menucard__contents dd p {
  font-weight: normal;
  font-size: 1.2rem;
}

.c-menucard__contents__button {
  width: 20rem;
  height: 5rem;
  background-color: #fff;
  border: solid 1rem #0000;
  border-radius: 3rem;
  color: #707070;
  font-size: 1rem;
  margin: 4rem 0 0 12rem;
}
/*# sourceMappingURL=style.css.map */