@charset "UTF-8";

.p-button{
    display: block;
    margin: 0 0 0 auto; // 右寄せ
    margin-top: 8%;
    margin-right: 5%;
    color: $text-gray;
    

    @include breakpoint( pc ) {
        display: none;
    }
}