@charset "UTF-8";
.p-sectionmenu{
    width: 100%;
    @include breakpoint( tablet ) {
        width: 100%;
    }
    @include breakpoint( PC ) {
    width: 100%;
    display: flex;    }
  
    ul{
        display: flex;
        @include breakpoint( tablet ) {
            flex-direction: column;
        }
    
    }
&__list{
    display: flex;
    justify-content: center;
    position: relative;



    &__takeout{
        width: 38vw;
        height: 50vw;
        padding: 2vw 2vw;
        margin-left: 2vw;
        @include breakpoint( tablet ) {
            padding: auto;
            margin: auto 5vw;
            width: 90vw;
            height: 10vw;
        }
        @include breakpoint( pc ) {
            margin: 2vw;
            padding: 0 2vw;
            width: 48vw;
            height: 50vw;
            
        }
        img{
            width: 100%;
            height: 100%;

        }
    }
    &__eatin{
        width: 38vw;
        height: 50vw;
        padding: 2vw 2vw;
        margin-right: 2vw;
        @include breakpoint( pc ) {
            width: 48vw;
            height: 50vw;
            
        }

        @include breakpoint( tablet ) {

            padding: auto;
            margin: auto 5vw;
            width: 25vw;
            height: 40vw;
        }
        

            img{
                width: 100%;
                height: 100%;
    
            }
    
    }


    h2{
        position: absolute;
        top : 2vw;
        left: 0vw;
        font-size: 5rem;
        color: #fff;
        @include breakpoint( tablet ) {
            font-size: 4rem;
            left: 6vw;
        }
    }
    &__contents01{
        position: absolute;
        top: 34vw;
        left: 0vw;
        width:32vw;
        height: 12vw;
        background-color: rgba(255,255,255,0.5);  
        @include breakpoint( tablet ) {
            height: 25vw;
            width: 84vw;
            font-size: 2rem;
            left: 8vw;
            top: 60vw;
        }
   }
   &__contents02{
    position: absolute;
    top: 21vw;
    left: 0vw;
    width:32vw;
    height: 12vw;
    background-color: rgba(255,255,255,0.5);  
    @include breakpoint( tablet ) {
        height: 25vw;
        width: 84vw;
        font-size: 2rem;
        left: 8vw;
        top: 90vw;
    }
}
dt{font-size: 1.8rem;
   margin: 1rem 0 0 1rem;
   padding-bottom: 1rem;
}
dd{
    font-size: 1.2rem;
    margin: 0 0 0 1rem;
    width: 30rem;

}
}}
