@charset "UTF-8";

.l-header{
    background-color: #FFF7EF;
    width: 87vw;
    height: 15vw;
    justify-content: center;



    @include breakpoint( pc ){
        display: flex;
        flex-direction: column;
        width: auto;
        justify-content: space-around;
    }
        
    
    &__sitename {
        color: #707070;
        margin-left: 3vw;
        padding-top: 4vw;
        font-size: 5rem;
        font-family: 'Roboto', sans-serif;

    }
    &__searchform {
           margin: -3vw 10vw 0 50vw;
           display: flex;
           @include breakpoint( pc ) {
               margin: 3vw 0;
               
        }
        &__keyword{
            width: 30vw;
            height: 2.3vw;
            background-color: #fff;
            border: 1px solid #707070;
            border-radius: 0.5rem;
            margin-right: 1vw;
        }
        &__button{
            width: 6vw;
            height: 2.3vw;
            background-color: #F2EDE9;
            border: 1px solid #707070;
            border-radius: 0.5rem;
            color: #707070;

        }
    }
            
    
}