@charset "UTF-8";

.l-header{
    background-color: #FFF7EF;
    @include breakpoint(pc){
        justify-content: space-between;
        display: flex;
        
    }
    
    &__sitename {
        color: #707070;
        margin-left: 5rem;
        padding-top: 6rem;
        font-size: 5rem;
        font-family: 'Roboto', sans-serif;
        
    }
    &__searchform {
        margin: 8rem 3rem 0 0;
    
        &__keyword{
            width: 30rem;
            height: 3rem;
            background-color: #fff;
            border: 1px solid #707070;
            border-radius: 0.5rem;
            margin-right: 1rem;
        }
        &__button{
            width: 8rem;
            height: 3rem;
            background-color: #F2EDE9;
            border: 1px solid #707070;
            border-radius: 0.5rem;
            color: #707070;

        }
    }
            
    
}