@charset "UTF-8";

.l-header{
    background-color: #FFF7EF;
    width:1162px;
    height: 217px;
    justify-content: space-between;
    
    &__sitename {
        color: #707070;
        margin-left: 5rem;
        margin-top: 4rem;
        font-size: 5rem;
        font-family: 'Roboto', sans-serif;
        @include breakpoint( pc ) {
        margin: 5%;   
        }
    }
}